{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title id="title">{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwp.production.patheos.com%2Fblogs%2Fkathyschiffer%2Ffiles%2F2015%2F06%2FJesuit-IHS-logo.jpg&f=1&nofb=1" type="image/x-icon">
    <!-- Font Awesome -->
	 <link
	   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
	   rel="stylesheet"
    />
	 <!-- Google Fonts -->
	 <link
	   href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
	   rel="stylesheet"
	 />
	 <!-- MDB -->
	 <link
	   href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
	   rel="stylesheet"
	 />
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" />
    {% block styles %}{% endblock %}
    {% block javascript %}{% endblock %}
  </head>
  <body>
    <div class="jhwc-container">
      {% block header %}{% endblock %}
      {% include 'core/includes/messages.html' %}
      <div class="container">
        <!-- Modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>   
      {% block content %}{% endblock %}
      </div>
    </div>
    {% block footer %}{% endblock %}
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        $(".login-btn").modalForm({
          formURL: "{% url 'login-modal' %}"
        });
      });
    </script>
  </body>
</html>