{% if messages %}
  {% for message in messages %} 
    <div class="alert {{ message.tags }} alert-dismissible fade show">
      <button type="button" class="close" data-mdb-dismiss="alert">&times;</button>
      <h4 class="alert-heading">
      {% if message.tags == 'alert-info' %}      
        Heads up!
      {% elif message.tags == 'alert-success' %}
        Well done!
      {% elif message.tags == 'alert-warning' %}
        Warning!
      {% else %}
        Oh snap!
      {% endif %}
      </h4>
      <p class="mb-0">{{ message|safe }}</p>
    </div>
  {% endfor %}
{% endif %}