{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: #A8A8A8; position: fixed; width: 100%; z-index: 100; top: 0;">
    <div class="container-fluid">

    <a class="navbar-brand" href="{% url 'cm_portal:index' %}">
      <img
        src="https://i2.wp.com/phjesuits.us/wp-content/uploads/2017/11/cropped-PJF-Logo-PDF-VECTOR-Type-smaller.png?fit=681%2C681&ssl=1"
        height="30"
        alt=""
        loading="lazy"
      />
      JHWC access
    </a>

      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        {% if title == 'Admissions' or title == 'Admission Detail' %}
      <!-- Search form -->
      <form id="search-form" class="d-flex input-group w-auto" method="get" action="admissions/">
        <input
          type="search"
          name="query"
          required id="id_query"
          class="form-control"
          placeholder="Type query"
          aria-label="Search"
        />
        <button
          id=""
          class="btn btn-outline-primary"
          type="submit"
          data-mdb-ripple-color="dark"
        >
          Search
        </button>
      </form>
     {% endif %}
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if title == 'Home' %} active{% endif %}" aria-current="page" href="{% url 'cm_portal:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if title == 'About' %} active{% endif %}" href="{% url 'cm_portal:about' %}">About</a>
        </li>
        <!-- Navbar dropdown -->
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Our Services
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item {% if title == 'Admissions' %} active{% endif %}" href="{% url 'geriatrics:admissions' %}">Geriatrics</a></li>           
            <li>
              <a class="dropdown-item" href="{% url 'health-declaration' %}">Health Declaration</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin?</a>
            </li>
          </ul>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if title == 'We look forward to hearing from you!' %} active{% endif %}" href="{% url 'cm_portal:contact' %}" tabindex="-1" aria-disabled="true"
            >Contact</a
          >
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a type="button" class="btn btn-info login-btn">LOGIN</a>
        </li>
        {% else %}
        <!-- Avatar -->
        <li class="nav-item dropdown pe-5">
        {% for ass in backends.associated %}
          {% if ass.provider == 'facebook' %}
            <a
            class="nav-link dropdown-toggle d-flex align-items-right"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="{{ ass.extra_data.picture.data.url }}"
              class="rounded-circle"
              height="22"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          {% endif %}
        {% endfor %}
        {% if not backends.associated%}  
          <a
            class="nav-link dropdown-toggle d-flex align-items-right"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              id="avatar_photo"
              src="{% static "img/avatar.png" %}"
              class="rounded-circle"
              height="22"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          {% if user.profile.photo %}        
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var image = document.getElementById('avatar_photo');
              var downloadingImage = new Image(width="300", height="199");
              downloadingImage.onload = function(){
                image.src = this.src;   
              };
              downloadingImage.src = "{{ user.profile.photo.url }}";
            });    
          </script>
          {% endif %}

        {% endif %}
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item{% if title == 'Dashboard' %} active{% endif  %}" href="{% url 'dashboard' %}">My profile</a></li>
          <li><a class="dropdown-item{% if title == 'Settings' %} active{% endif %}" href="{% url 'settings' %}">Settings</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </li>
        {% endif %}

      </ul>

      </div>
    </div>
  </nav>