.navbar .navbar-brand, .navbar .nav-item a {
  color: #F5F5F5 !important;
  font-weight: 500;
}

.dropdown-menu.show {
  background-color: #A8A8A8 !important;
}
.dropdown-item:hover {
  color: #8AB6D6 !important;
}

#avatar {
  background-color: #bfd9b2;
}

table,
.text-center,
.social-container,
.white-bg {
  background-color: #FFFFFF;
}

#user,
#cart {
  padding: 20px;
}

.product-img {
  display: block;
  padding: 10px;
  width: 799px;
  height: 640px;
}
